html {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    /*color: #353343;*/
    color: #73849a;
    font-size: 16px;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #EAE1C4;
}

h1 {
    padding: 40px;
    font-size: 50px;
}

.main-flex-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.flex-container {
  max-width: 100%;
}

#main-links li {
    display: inline;
}

li a.nav{
    padding: 3px 20px;
    text-decoration: none;

}

#load-contact {
    text-align:center;
}

.contact-logos {
    list-style: none;
    align-content: center;
    display:inline-table;}

.contact-logos li {
    display: inline;
    padding: 2px 10px;

}

a {

    color: #353343;
}

#main-links ul li a {
    padding: 5px 30px 5px 10px;
    display: block;
}

.loaded-content ul li, ol li{
    padding-top: 10px;
}

#main-links ul li a:hover {
    background: transparent url('../img/basket.png') no-repeat 3px 170px;
}


.loaded-content {
    padding-top: 80px;
    justify-content: center;
    text-align: left;
    width: 80%;
}

.initially-hidden {
    display:none;
}